{% load static %}
{% block title %}{% endblock %}
{% block article %}
 <article>
  {% for post in post_list reversed %}
  <ul>
    <li>
      {{ post.location }}
    </li>
    <li>
      {{ post.date }}
    </li>
    <li>
      Категория:
      <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a>
    </li>
  </ul>
  <p>
    {{post.text|truncatewords:10}}
  </p>
  <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
 </article>
{% endfor %}
{% endblock %}
{% block content %}{% endblock %}
</html>
