{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
  {% include 'base.html' %}
    {% block content %}
    <main>
      <div class="container py-5">
        <h1>Лента записей</h1>
        <hr>
        <article>
          {% for post in post_list reversed %}
          <ul>
            <li>
              {{ post.location }}
            </li>
            <li>
              {{ post.date }}
            </li>
            <li>
              Категория:
              <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a>
            </li>
          </ul>
          <!-- Первые 10 слов -->
          <p>
            {{post.text|truncatewords:10}}
          </p>
          <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
        </article>
        {% endfor %}
      </div>
    </main>
    <footer class="border-top text-center py-3">
      <p>© Блогикум</p>
    </footer>
  </body>
  {% endblock %}
</html>
