{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
    {% include 'base.html' %}
    {% block content %}
    <main>
      <div class="container py-5">
          <ul>
            <li>
              {{ post.location }}
            </li>
            <li>
              {{ post.date }}
            </li>
            <li>
              Категория: <a href="{{ post.category }}">{{post.category}}</a>
            </li>
          </ul>
          <!-- Первые 10 слов -->
          <p>
            {{post.text|linebreaksbr}}
          </p>
          <a href="{% url 'blog:post_detail' post.id %}"></a>
        </article>
      </div>
    </main>
    <footer class="border-top text-center py-3">
      <p>© Блогикум</p>
    </footer>
  </body>
  {% endblock %}
</html>
